/* BEGIN RESET */
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
/* END RESET */

/*** GENERAL RULEZ***/
body {
  font-family: "ROBOTO", verdana;
}
.container {
  width: 1024px;
  margin: auto;
}
/*** END GENERAL RULEZ***/

/*** HEADER ***/
header {
  background-color: #003366;
  background-image: url(../img/background-header.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 130% 100%;
  background-size: 1000px;
}

/** top **/
header .top {
  height: 500px;
}

/* menu */
header .top .menu {
  width: 100%;
  height: 70px;
}

header .top .menu ul li {
  display: inline-block;
  padding: 5px 15px;
}
header .top .menu ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
}

header .top .menu div {
  display: inline-block;
  height: 100%;
}
header .top .menu .logo {
  float: left;
  padding: 10px 0;
}
header .top .menu .pages {
  float: left;
  padding: 20px 0;
  margin-left: 20px;
}
header .top .menu .personal {
  float: right;
  padding: 20px 0;
}
header .top .menu .personal .login {
  border: 1px solid white;
  border-radius: 10%;
}
header .top .menu .personal .piano {
  background:lightgreen;
  border: 1px solid lightgreen;
  border-radius: 10%;
}

/* end menu */

/* cta */

header .top .cta {
  height: auto;
  width: auto;
  margin-top: 50px; /* da modificare/ centrare dopo con altri valori. */
}
header .top .cta .top {
  color: white;
  width: 35%;
  height: 80%;
  margin-bottom: 25px;
}
header .top .cta .button {
  padding: 10px;
  color: white;
  text-transform: uppercase;
  border-radius: 5%;
  background: lightgreen;
}

/* end cta */

/** end top **/

/** bottom **/
header .bottom {
  background: lightgrey;
  text-align: center;
  padding: 20px 0;
}
header .bottom .subtittle {
  color: grey;
}
/**end bottom **/

/*** END HEADER ***/

/*** MAIN ***/
/** main top **/
main {

}
main .top {
  height: 600px;

}
main .top .img {
  text-align: center;
  width: 250px;
  height: 250px;
}
main .top img {
  height: 200px;
}
main .top .tittle {
  width: 100%;
  color: green;
}
main .top .content {
  width: 100%;
}
main .top div {


  display: inline-block;
  width: 32.9%;

  padding: 15px;
  text-align: center;
}
main .top div hr {
  margin: 0 120px;
}

/* main top left */
main .top .left {
float: left;
}

main .top .center {

}

main .top .right {
  float: right;

}
/** end top **/

/** bottom **/
main .bottom {
  height: 400px;
}
main .bottom div {
  display: inline-block;
  width: 49%;
  height: 350px;


}
main .bottom .left img {
  height: 400px;
  width: 400px;
}
main .bottom .right {

  float: right;
  padding: 100px 100px 0px 10px;

}

main .bottom .right p {
  color: grey;
  margin: 20px 0px;
}



/** end bottom **/

/*** END MAIN***/

/*** FOOTER ***/
footer {
  background: lightgrey;
  height: 200px;
}

footer .container .left {
  font-size: 25px;
}
footer .container .center {
  background: green;
}
footer .container .right {
  float: right;


}
footer .container div {
  margin-top: 50px;
  width: 32.5%;
  display: inline-block;
}
footer .container .right .view p,
footer .container .right .help p {
  background: green;
  border-radius: 5%;
  padding: 20px;
  margin-bottom: 10px;
}




/*** END FOOTER***/
